.RowBox {
  /*box-sizing: border-box;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1;
  margin-bottom: 2;
  stroke: black;
  stroke-width: 10;
  border-radius: 10;
  border-color: black;
  border-width: 10;*/
}